<div id="appContainer">
  <h1>{{ title }}</h1>
  
  <div class="containerContainer">
    <app-data-table></app-data-table>
  </div>
  
  <div id="chartContainer">
    <div class="containerBox" id="ageChartComponentContainer">
      <app-chart-age></app-chart-age>
    </div>

    <div class="containerBox" id="stateChartComponentContainer">
      <app-chart-state></app-chart-state>
    </div>
    <div class="containerBox" id="mapChartComponentContainer">
      <!-- <app-chart-state></app-chart-state> -->
      <app-chart-map></app-chart-map>
    </div>
  </div>
</div>
